html, body, div, span, object, iframe, img, strong, b, u, i, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, article, section, aside { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

input:focus, select:focus, textarea:focus, button:focus { outline: none; }

html, body { width: 100%; height: 100%; }

.clear { clear: both; font-size: 0; }

.clearfix::after { clear: both; content: ""; display: table; }

button { cursor: pointer; }

input[type="button"], input[type="submit"] { cursor: pointer; }

table { border-collapse: collapse; border-spacing: 0; }

input, select, textarea, button { font-family: arial, helvetica, sans-serif; font-weight: 400; color: #000; }

* { box-sizing: border-box; }

body { font-family: arial, "Helvetica CY", "Nimbus Sans L", sans-serif; color: #000; background: #fff; font-size: 18px; line-height: 1.3; min-width: 310px; }

.container { min-width: 310px; max-width: 1170px; margin: 0 auto; }

p { font-family: "MuseoSansCyrl-300", arial; }

h4 { font-family: "Museo Sans Cyrl 900", arial; }

.white-squad-bg { background: #3946f5 url(../img/white-squad-bg.png) -31px -30px no-repeat; }
@media screen and (max-width: 1200px) { .white-squad-bg { background: #fff; } }

header { padding-top: 31px; }

.logo { float: left; margin-top: 12px; }
@media screen and (max-width: 1200px) { .logo { margin-left: 20px; } }

ul.menu { display: inline-block; padding: 0; margin: 17px 0 0 137px; list-style: none; }
@media screen and (max-width: 1200px) { ul.menu { display: none; margin: 0; z-index: 100; background: #fff; width: 180px; height: auto; position: absolute; right: 0; top: 132px; text-align: center; padding: 10px 15px; } }
ul.menu li { font-family: "MuseoSansCyrl-300"; display: inline-block; margin-right: 60px; }
@media screen and (max-width: 1200px) { ul.menu li { display: block; padding: 5px 24px; margin: 0; } }
ul.menu li a { color: #101010; text-decoration: none; font-size: 16px; }

.number { z-index: 20; float: right; color: #fff; }
@media screen and (max-width: 1200px) { .number { color: #101010; } }
.number p { margin: 0 0 7px 0; font-family: "MuseoSansCyrl-300"; font-size: 22px; line-height: 27px; }
@media screen and (max-width: 1200px) { .number p { margin-right: 40px; } }
@media screen and (max-width: 530px) { .number p { margin-right: 10px; font-size: 16px; line-height: 16px; margin-right: 0; } }
@media screen and (max-width: 530px) { .number span { font-size: 12px; } }

.menu-btn { margin-right: 40px; width: 40px; height: 40px; float: right; background: transparent; position: relative; cursor: pointer; display: none; }
@media screen and (max-width: 1200px) { .menu-btn { display: block; } }

.menu-btn span::after { bottom: -5px; }
.menu-btn span::before { top: -5px; }

.menu-btn span { width: 20px; height: 2px; background: #101; position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -9px; }

.menu-btn span::before, .menu-btn span::after { content: ""; width: 20px; height: 2px; background: #101; position: absolute; left: 0; }

.promo { margin-top: 50px; display: inline-flex; flex-flow: row wrap; justify-content: space-between; }
@media screen and (max-width: 1200px) { .promo { background: #3946f5; } }
@media screen and (max-width: 530px) { .promo { width: 100%; } }
.promo .promo-block { width: 510px; margin-top: 45px; }
@media screen and (max-width: 1200px) { .promo .promo-block { background: #fff; padding: 30px; border-radius: 6px; background: #fff; margin: 40px auto 10px auto; } }
@media screen and (max-width: 1200px) and (max-width: 530px) { .promo .promo-block { width: 100%; } }

.promo-txt h1 { font-size: 46px; font-family: "Museo Sans Cyrl 900", arial; line-height: 56px; margin: 0; }
@media screen and (max-width: 530px) { .promo-txt h1 { font-size: 36px; } }
.promo-txt p { margin: 30px 0 13px 0; font-size: 22px; }
@media screen and (max-width: 530px) { .promo-txt p { font-size: 18px; } }

.price { display: block; font-size: 20px; padding: 22px 0 22px 19px; margin: 0; background: url("../img/yellow-bg-price-txt.png") 0 20px no-repeat; }

.try_free { display: block; width: 273px; font-size: 18px; margin-top: 25px; padding-top: 15px; padding-left: 29px; padding-bottom: 15px; font-family: "Museo Sans Cyrl 700", arial; text-decoration: none; color: #fff; background: -webkit-linear-gradient(90deg, #317fff, #3946f5); background: linear-gradient(90deg, #317fff, #3946f5); }

.slider { width: 660px; height: 714px; position: relative; }
@media screen and (max-width: 1200px) { .slider { margin: 30px auto 0 auto; } }
@media screen and (max-width: 660px) { .slider { width: 440px; height: 600px; } }
@media screen and (max-width: 530px) { .slider { width: 320px; } }

.slick-arrow { position: absolute; top: 0; width: 50%; height: 100%; font-size: 0; background: transparent; border: 0; }

.slick-prev { left: 0; z-index: 120; }

.slick-next { right: 0; }

.notebook { width: 96%; margin: 0 auto; }
.notebook img { width: 100%; height: auto; }

.slide-txt { padding-left: 329px; color: #d2d7ff; }
@media screen and (max-width: 1200px) { .slide-txt { padding-left: 0; width: 292px; margin: 20px auto; } }
.slide-txt h3 { font-size: 26px; font-family: "Museo Sans Cyrl 700", arial; background: url("../img/number_of_slide.png") 0 0 no-repeat; margin: 0; padding-left: 47px; padding-top: 7px; }
.slide-txt p { font-size: 18px; }

.promo--flex-block { background: #3946f5 url("../img/wave-bg.png") 100% 100% no-repeat; padding-bottom: 25px; }
.promo--flex-block h3 { font-size: 26px; font-family: "Museo Sans Cyrl 900", arial; text-transform: uppercase; color: #fff; letter-spacing: 2px; padding: 26px 0 26px; margin: 0; }
@media screen and (max-width: 1000px) { .promo--flex-block h3 { text-align: center; } }

.flex-block { display: flex; flex-flow: row wrap; justify-content: space-between; }
.flex-block .flbox { color: #fff; width: 356px; margin: 13px auto 70px auto; }
.flex-block .flbox img { float: left; }
.flex-block .flbox h4 { font-size: 22px; margin: 0; padding-top: 10px; padding-left: 77px; }
.flex-block .flbox p { margin: 0; font-size: 18px; line-height: 22px; padding-top: 17px; color: #d2d7ff; }
@media screen and (max-width: 840px) { .flex-block .flbox p { text-align: center; } }

.first-form-block { padding-top: 142px; position: relative; }

.form-wrapper { position: relative; border: 10px solid #f5d032; width: 998px; float: right; margin-right: 70px; padding: 100px 0 74px 80px; }
@media screen and (max-width: 1000px) { .form-wrapper { width: 95%; margin: 0 auto; padding-left: 30px; float: none; } }
.form-wrapper .thin_txt { font-size: 22px; font-family: "Museo Sans Cyrl 500"; margin: 0; text-transform: uppercase; }
@media screen and (max-width: 660px) { .form-wrapper .thin_txt { font-size: 18px; } }
.form-wrapper .bold_txt { font-size: 36px; text-transform: uppercase; font-family: "Museo Sans Cyrl 900"; margin: 0; }
@media screen and (max-width: 660px) { .form-wrapper .bold_txt { font-size: 22px; } }

.form-txt { position: absolute; top: -43px; left: -111px; letter-spacing: 2px; }
@media screen and (max-width: 1000px) { .form-txt { width: 450px; left: 50%; margin-left: -225px; } }
@media screen and (max-width: 660px) { .form-txt { width: 290px; margin-left: -145px; } }

.form-wrapper input { width: 174px; margin-right: 107px; font-size: 18px; margin-top: 16px; font-family: "Museo Sans Cyrl 500"; line-height: 20px; height: 30px; border: none; border-bottom: 3px solid #e8e8e8; }
@media screen and (max-width: 1000px) { .form-wrapper input { width: 90%; margin-right: 0; } }
.form-wrapper input:focus { border-bottom: 3px solid #3946f5; }

button.form_btn { border: 0; font-size: 18px; color: #fff; font-family: "Museo Sans Cyrl 700"; float: right; padding-top: 15px; padding-bottom: 17px; margin-right: 55px; padding-right: 22px; padding-left: 26px; background: -webkit-linear-gradient(90deg, #317fff, #3946f5); background: -webkit-linear-gradient(left, #317fff, #3946f5); background: -o-linear-gradient(left, #317fff, #3946f5); background: linear-gradient(to right, #317fff, #3946f5); }
@media screen and (max-width: 1000px) { button.form_btn { margin: 40px auto 0; width: 90%; float: none; } }

.about-block { display: flex; flex-flow: row wrap; justify-content: space-between; margin-top: 50px; margin-bottom: 95px; }
.about-block h3 { font-family: "Museo Sans Cyrl 900", arial; font-size: 26px; margin: 0; padding-bottom: 47px; text-transform: uppercase; }
.about-block .about-us { color: #fff; width: 590px; padding-top: 115px; padding-left: 80px; padding-right: 81px; margin: 20px auto; padding-bottom: 145px; background: url("../img/blue-bg-squad.png") 0 0 no-repeat; }
@media screen and (max-width: 1000px) { .about-block .about-us { background: #346cfc; border-radius: 40px; } }
@media screen and (max-width: 660px) { .about-block .about-us { width: 440px; } }
@media screen and (max-width: 530px) { .about-block .about-us { padding: 20px; } }
.about-block .about-us p { margin-top: 0; margin-bottom: 18px; }
.about-block .our-clients { padding-top: 115px; margin: 20px auto; }
@media screen and (max-width: 1000px) { .about-block .our-clients { padding-top: 0; } }
.about-block .our-clients h3 { text-align: left; padding-bottom: 38px; }

.client-list { width: 410px; display: flex; flex-flow: row wrap; justify-content: space-between; }
@media screen and (max-width: 530px) { .client-list { width: 100%; } }
.client-list a { display: inline-block; width: 152px; height: 67px; }
.client-list a img { vertical-align: center; }
.client-list a:nth-child(odd) { padding-top: 10px; }

.advantage--promo-block { background: #346cfc; padding-bottom: 58px; }
.advantage--promo-block h3 { font-family: "Museo Sans Cyrl 900", arial; font-size: 26px; margin: 0; color: #fff; letter-spacing: 2px; padding: 38px 0 40px 0; text-transform: uppercase; }
@media screen and (max-width: 1000px) { .advantage--promo-block h3 { padding-left: 20px; } }

.advantage--promo-block .flbox { margin: 0 auto 47px auto; }

.secondform { position: relative; padding-top: 40px; }

.second-form-block { margin-top: 74px; }
@media screen and (max-width: 1200px) { .second-form-block { margin-top: 180px; } }
@media screen and (max-width: 660px) { .second-form-block { margin-top: 70px; } }

.dir_speech { position: relative; padding-top: 55px; }
.dir_speech h3 { font-family: "Museo Sans Cyrl 900", arial; font-size: 26px; margin: 0; color: #000; letter-spacing: 2px; padding: 38px 0 12px 0; text-transform: uppercase; }
@media screen and (max-width: 1000px) { .dir_speech h3 { padding-left: 20px; } }

.dir_txt { width: 605px; }
@media screen and (max-width: 660px) { .dir_txt { width: 95%; margin: 0 auto; } }
.dir_txt p { line-height: 22px; margin-left: 10px; }

.dir_pic { position: absolute; top: 99px; right: 103px; z-index: 90; }
@media screen and (max-width: 1200px) { .dir_pic { position: static; float: right; margin-bottom: 40px; top: none; right: none; } }
@media screen and (max-width: 660px) { .dir_pic { float: none; margin: 10px 20px; width: 90%; } }
@media screen and (max-width: 530px) { .dir_pic { margin: 10px 5px; } }

.feedback-blog { background: #f9f9f9; padding-top: 213px; padding-bottom: 71px; }
@media screen and (max-width: 660px) { .feedback-blog { padding-top: 50px; padding-bottom: 30px; } }
.feedback-blog h3 { font-family: "Museo Sans Cyrl 900", arial; font-size: 26px; margin: 0; color: #000; text-align: center; letter-spacing: 3px; padding-bottom: 51px; text-transform: uppercase; }

.feedback-flex { display: flex; flex-flow: row wrap; justify-content: space-between; }
.feedback-flex .comment { display: inline-block; position: relative; margin: 0 auto 30px; width: 370px; }
@media screen and (max-width: 530px) { .feedback-flex .comment { width: 320px; } }
@media screen and (max-width: 660px) { .feedback-flex .comment { text-align: center; } }
.feedback-flex .comment img { vertical-align: bottom; width: 100%; }
.feedback-flex .comment .tag { text-align: right; position: absolute; top: 414px; right: 0px; background: #3946f5; padding-right: 16px; padding-left: 40px; padding-top: 13px; padding-bottom: 8px; }
@media screen and (max-width: 530px) { .feedback-flex .comment .tag { top: 335px; } }
.feedback-flex .comment .tag .name { color: #fff; font-size: 18px; margin: 0; }
.feedback-flex .comment .tag a { font-size: 18px; color: #fff; }
.feedback-flex .comment p { color: #161616; margin-top: 29px; line-height: 24px; }

.contacts { background: #333333; padding-top: 0px; }

.flex-wrap { display: flex; flex-flow: row wrap; padding-top: 104px; padding-bottom: 108px; }

.contacts-info { color: #fff; width: 425px; }
@media screen and (max-width: 1000px) { .contacts-info { padding-left: 20px; } }
.contacts-info h3 { font-family: "Museo Sans Cyrl 900", arial; font-size: 26px; margin: 0 0 57px 0; color: #fff; letter-spacing: 3px; padding-bottom: 0; text-transform: uppercase; }
.contacts-info p { margin: 0; font-size: 14px; line-height: 24px; }
.contacts-info .address { margin: 42px 0 0 0; padding: 0; list-style: none; }
.contacts-info .address li { padding-left: 40px; margin: 14px 0; font-size: 14px; }

.li_address { background: url("../img/mark.png") 4px 0 no-repeat; }

.li_mail { background: url("../img/mail.png") 3px 5px no-repeat; }

.li_number { background: url("../img/phone.png") 4px 2px no-repeat; }

.map { width: 692px; height: 342px; }
@media screen and (max-width: 1000px) { .map { margin: 20px auto; width: 90%; height: 300px; } }

footer { background: #464646; color: #a8a8a8; width: 100%; padding: 20px 0 11px; }

.footer-container { position: relative; }
.footer-container .footer-logo { float: left; padding: 0; }
@media screen and (max-width: 1000px) { .footer-container .footer-logo { padding-left: 30px; } }
.footer-container p { text-align: center; margin: 0; padding-top: 11px; font-size: 14px; font-family: "Museo Sans Cyrl 100"; }
.footer-container #toTop { position: absolute; right: 0px; top: 9px; color: #a8a8a8; font-size: 14px; cursor: pointer; font-family: "Museo Sans Cyrl 100"; padding-right: 25px; background: url("../img/totTop.png") 100% 50% no-repeat; }
@media screen and (max-width: 1000px) { .footer-container #toTop { font-size: 0; width: 25px; height: 25px; margin-right: 10px; } }
